# This file is the top-most EditorConfig file
root = true

# All Files
[*]

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
csharp_new_line_before_open_brace = none