/Shopping-web/assets/*
/Shopping-web/index.html
/Shopping-web/client/node_modules
/Shopping-web/client/dist
Debug/
Release/
js/
css/
img/
*.suo
*.user
_ReSharper.*
bin/
obj/
packages
Uploads/
logs.txt
UserPrefs.xml
*-Debug.json
*.DS_Store